<h1>CS-DOB</h1>
<h3>(Crowdsourced Skill Development Opportunities Board)</h3>

<button (click)="this.create_opp.set(true)">Add an opportunity</button> 

<br/>

<h3>Opportunities</h3>

Specific Opportunity: <input />

<details class="native-dropdown">
  <summary>Major/Profession(s)</summary>
  <div class="checkbox-group">
    @for (profession of profList(); track profession) {
      <label><input type="checkbox" name="lang" value="{{profession}}"> {{profession}}</label>
    }
  </div>
</details>

Location: <input />
<button>Search</button>

@if (create_opp()) {
  <dialog id="new_opp_modal" [attr.open]="create_opp() ? '' : null" popover>
    <h3>Post an Opportunity</h3>
    Name: <input name="name" [(ngModel)]="new_opp().name" /> <br/>
    Description: <textarea id="desc_area" [(ngModel)]="new_opp().description" ></textarea> <br/>
    Link: <input name="link" [(ngModel)]="new_opp().link" /> <br/>
    Location: <input name="location" [(ngModel)]="new_opp().location" /> <br/>
    <details class="native-dropdown">
      <summary>Major/Profession(s)</summary>
      <div class="checkbox-group">
        @for (profession of profList(); track profession) {
        <label><input type="checkbox" name="prof" value="{{profession}}" #cb (click)="toggleProfession(profession, cb.checked)"> {{profession}}</label>
        }
      </div>
    </details>
    Repeatable: <input type="checkbox" [(ngModel)]="new_opp().repeatable" /> <br/>
    <br/>
    <button (click)="submitOpp()">Submit</button>
    <button (click)="this.create_opp.set(false)">Close</button>
  </dialog>
}

@for (opp of oppList(); track opp.ID) {
  <div class="opp-card">
    <h4>{{opp.name}}</h4>
    <p>{{opp.description}}</p>
    <a href="{{opp.link}}">Link</a>
    <p>Location: {{opp.location.join(", ")}}</p>
    @for (profession of opp.professions; track profession) {
      {{profession}},
    }
    <p>Repeatable: {{opp.repeatable ? "Yes" : "No"}}</p>
    <p>Posted by: {{opp.user}}</p>
  </div>
}
